@import "font.less";
@import "variables.less";
@import "custom.less";
@import "mixins.less";

html{
  scroll-behavior: smooth;
}
@media only screen and (max-device-width: 480px) {

    }
body {
  display: grid;
  grid-template-rows: 150px auto 100px;
  // font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: 300;
  color: @body-text;
  @media(min-width: 767px){
    font-size: 0.8rem;
    height: 100%;
  }
  @media(min-width: 1200px){
    font-size: 0.9rem;
    height: 100%;
  }
}
.up-btn{
  background:#b18cce;
  border-radius: 6px;
  transition-property: background, border-radius; 
  transition-duration: 1s;
}
.up-btn span{
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.up-btn:hover{
  color: red;
}


.del-btn {
  font-size: 15px;
}




.sub-title{
  font-size: 0.8rem;
  @media(min-width: 767px){
    font-size: 0.9rem;
  }
  @media(min-width: 991px){
    font-size: 1rem;
  }
  @media(min-width: 1200px){
    font-size: 1.2rem;
  }
}
.word-break-all{
  word-break: break-all;
}
.results{
  position: relative;
  clear: both;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  color: black;
  text-align: left;
  font-family: monospace;
}
.reg-succ{
  color: green;
  font-weight: bold;
}
.update-color{
  font-size: 20px;
}
.ce-padd{
 padding-top: 20;
}
.login-align{
  padding: inherit;
}
.reg-align{
  padding: inherit;
}
.col_test{
      padding: inherit;
}
.ins-succ{
  color: green;
  font-size: 12px;   
  font-weight: bold;
}
.session_insert_padding{
  padding: inherit;
  padding-top: 50;     
}
.disp_padding{
  padding-top:50;
}
.insert_padding{
  padding: inherit;
  padding-top: 50;     
}
#align_login{
  text-align: end;
}
.safe{
  color: green;
}
.danger{
  color: red;
}
.tes_t{
  display: none;
}
.succ_login_align{
  text-align: right;
}
.login-succ{
  font-size: 14px;
  font-weight: bold;
}
.email-font p.font{
  font-size: 14;
}
.password-font p.font{
  font-size: 14;
}
.modal-dialog{
  position: absolute;
}
.pl {
  position: relative;
  padding-right: 15px;
  &:after {
    content: '';
    background-image: url('../images/tm.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    right: 0px;
  }
  &.large {
    padding-right: 23px;
    &:after {
      width: 25px;
      height: 25px;
      top: 10px;
      right: 0px;
    }
  }
  &.semi_large {
    padding-right: 19px;
    &:after {
      width: 17px;
      height: 17px;
      top: -1px;
      right: 0px;
    }
  }
  &.theme_color {
    &:after {
      background-image: url('../images/tm.svg');
    }
  }
}